:root {
  --dim-gray: #625f63;
  --btn-main: #3e3c3e;
  --btn-upper: #72727e;
  --border: #1c1c1c;
  --shadow: rgb(47, 47, 47);
  --light-red: #db5461;
  --light-blue: #90baad;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}

body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100svh;
  background-color: rgb(30, 30, 36);
}

main {
  width: 400px;
  height: 600px;
  background-color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 5px;
  animation: fade-out 0.8s;
  border: 5px solid var(--border);
  box-shadow: 0px 0px 5px 5px var(--shadow);
}

@keyframes fade-out {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main .window {
  width: 100%;
  background-color: var(--btn-upper);
  height: 100px;
  border-radius: 10px;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  box-shadow: 0px 0px 2px 2px var(--shadow);
}

.window p,
h1 {
  margin: 0 1rem;
  padding: 0;
}

.window #input {
  font-size: 3em;
  max-width: 90%;
  overflow: hidden;
  /* text-overflow: ellipsis; */
  white-space: nowrap;
}

.window #operations {
  font-size: 1.5em;
}

main .buttons-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-columns: repeat(4, 1fr);
  border-radius: 20px;
  flex: 2;
  gap: 2px;
}

main .remove-input {
  display: flex;
  gap: 2px;
  flex: 0 1 65px;
}

.remove-input button {
  flex: 1;
}

button {
  background-color: var(--btn-main);
  border: none;
  color: #efefef;
  border-radius: 10px;
  transition: ease-out 0.06s;
  font-size: 1.5em;
  cursor: pointer;
  position: relative;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  box-shadow: inset 0px 0px 2px 1px rgb(0, 0, 0);
  user-select: none; /*prevent from selecting buttons text*/
  
}

button:focus,
button:active {
  outline: none;
  box-shadow: none;
}

button::before {
  content: ""; /* Add an empty content to the pseudo-element */
  position: absolute; /* Set the position to absolute */
  top: 0; /* Position the overlay at the top of the button */
  left: 0; /* Position the overlay at the left of the button */
  width: 100%; /* Set the width to 100% of the button */
  height: 100%; /* Set the height to 100% of the button */
  background-color: transparent; /* Set the default overlay color to transparent */
  transition: background-color 0.3s ease; /* Add a transition effect for smooth animation */
  border-radius: 10px;
}

button:hover::before {
  background-color: rgba(0, 0, 0, 0.3); /* Add a darker overlay on hover */
}

button span.dim {
  position: relative; /* Set the position to relative */
  z-index: 1; /* Set a higher z-index to position the text on top of the pseudo-element */
}

#clear {
  background-color: var(--light-red);
}

#delete {
  background-color: var(--light-blue);
}

.clicked {
  transform: scale(1.05);
}

.orange-buttons {
  background-color: #f6ae2d;
}

.grey-buttons {
  background-color: var(--btn-upper);
}

footer {
  width: 100%;
  color: #efefef;
}

footer h1.footer-text {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
}

footer h1.footer-text a {
  text-decoration: none;
  color: inherit;
}

footer h1.footer-text a:hover {
  color: rgb(132, 95, 255);
}

@media (max-width: 405px) {
  main {
    width: 250px;
    height: 400px;
  }

  main .window {
    height: 50px;
  }

  .window #input {
    font-size: 1.5rem;
  }

  .window #operations {
    font-size: 0.7rem;
  }

  button {
    font-size: 0.7rem;
  }
  main .remove-input {
    flex-basis: 50px;
  }
}
